* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}
body {
  font-family: "Supreme", sans-serif;
  padding: 30px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.center {
  display: block;
}

.clock {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 500px;
  display: flex;
  padding: 30px;
  background-color: #263159;
  font-size: 90px;
  font-family: "Digital-7 Mono", sans-serif;
  font-family: "Digital-7", sans-serif;
  font-family: "Digital-7 Italic", sans-serif;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inputs {
  justify-content: center;
  display: flex;
  width: 100%;
}
.innner_clock {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #495579;
  height: 90px;
  padding: 5px;
  color: #fffbeb;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
p {
  color: #263159;
}
.button {
  padding: 10px;
  background-color: #263159;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.middle {
  margin-left: 20px;
  margin-right: 20px;
}

.two_inputs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
input {
  border: 2px solid #263159;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
